@keyframes filterMalenya {
    from {
        filter: brightness(0.5) blur(5px);
    }
    to{
        filter: brightness(1) blur(0px);
    }
}

@keyframes textPosition {
    from {
        opacity: 0;
        scale: 0;
        left: 50%;
    }
    to {
        opacity: 1;
        scale: 1;
        left: 15%;
    }
}
@keyframes textPositionTop {
    from {
        opacity: 0;
        scale: 0;
        bottom: 0;
    }
    to {
        opacity: 1;
        scale: 1;
        bottom: 83%;
    }
}
@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
    0% {
       -webkit-transform:
           translate3d(0,0,0)
           rotate(-20deg);
   }
   
   100% {
       -webkit-transform:
           translate3d(-230px,640px,0)
           rotate(-70deg);
       opacity: 0;
   }
}

@-webkit-keyframes falling2 {
    0% {
       -webkit-transform:
           translate3d(0,0,0)
           rotate(90deg);
   }
   
   100% {
       -webkit-transform:
           translate3d(-400px,680px,0)
           rotate(0deg);
       opacity: 0;
   }
}